.box1 div{
    background: yellow;
    margin: 20px;
}
.product-image{
    width: 200px;
}
.product-card{
    display: flex;
    margin: 20px;
    margin-bottom: 200px;
}


.wrap{
    display: flex;
    flex-wrap: wrap;
}


